{{- if .Values.gatewayApi.enabled }}
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: {{ include "gateway-api.fullname" . }}-redirect-route
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - name: {{ include "gateway-api.fullname" . }}
      sectionName: http
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301
{{- end }}