apiVersion: v2
name: vaas
version: 3.3.5
description: Deployment of a Verdict-as-a-Service on-premise instance
maintainers:
  - name: G DATA CyberDefense AG
    email: oem@gdata.de
type: application
dependencies:
  - name: redis
    version: 0.23.0
    condition: redis.enabled
    repository: oci://registry-1.docker.io/cloudpirates
  - name: mini-identity-provider
    version: 1.1.0
    condition: mini-identity-provider.enabled
    repository: oci://ghcr.io/gdatasoftwareag
