apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "gateway.fullname" . }}
  labels:
    {{- include "gateway.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "gateway.fullname" . }}
  {{- if not .Values.gateway.autoscaling.enabled }}
  replicas: {{ .Values.gateway.replicaCount }}
  {{- end }}
  revisionHistoryLimit: {{ .Values.gateway.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "gateway.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.gateway.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- if .Values.gateway.podLabels }}
        {{ toYaml .Values.gateway.podLabels | nindent 8 }}
        {{- end }}
        {{- include "gateway.selectorLabels" . | nindent 8 }}
    spec:
      {{- include "gateway.imagePullSecrets" . | nindent 6 }}
      volumes:
        - name: gateway-tmp
          emptyDir:
            sizeLimit: "1Gi"
      {{- if .Values.gateway.podSecurityContext.enabled }}
      securityContext: {{- omit .Values.gateway.podSecurityContext "enabled" | toYaml | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "gateway.name" . }}
          {{- if .Values.gateway.containerSecurityContext.enabled }}        
          securityContext: {{- omit .Values.gateway.containerSecurityContext "enabled" | toYaml | nindent 12 }}
          {{- end }}
          image: '{{ .Values.gateway.image.repository }}:{{ .Values.gateway.image.tag | default "latest" }}'
          imagePullPolicy: {{ .Values.gateway.image.pullPolicy }}
          volumeMounts:
          - mountPath: /tmp
            name: gateway-tmp
          env:
            {{- if .Values.gateway.extraEnvVars }}
            {{- toYaml .Values.gateway.extraEnvVars | nindent 12 }}
            {{- end }}
            - name: Authentication__Schemes__Bearer__Authority
              value: {{.Values.gateway.authentication.authority}} 
            - name: Authentication__Schemes__Bearer__RequireHttpsMetadata
              value: "false"
            - name: Upload__Endpoint
              value: {{.Values.gateway.uploadUrl}}
            - name: JwtSettings__Secret
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.gateway.uploadToken.existingSecret | default "upload-token-key" }}
                  key: key
            - name: GDScanConfiguration__Url
              value: "http://gdscan:8080/scan/body"
            - name: RedisConfiguration__Configuration
              value: "redis"
            - name: DOTNET_ENVIRONMENT
              value: {{ .Release.Name }}
            - name: ASPNETCORE_ENVIRONMENT
              value: {{ .Release.Name }}
            {{- include "vaas.sentryEnvironmentVariables" . | nindent 12 }}
            - name: MaxAnalysisDuration
              value: {{ include "common.secondsToHHMMSS" .Values.gateway.terminationGracePeriodSeconds | quote }}
            - name: FileCloudVerdictSource__Enable
              value: {{ .Values.cloud.hashLookup.enabled | quote  }}
            - name: FileAllowlistCloudVerdictSource__Enable
              value: {{ .Values.cloud.allowlistLookup.enabled | quote }}
          ports:
            - name: http
              containerPort: {{ .Values.gateway.service.http.port }}
              protocol: TCP
            - name: ws
              containerPort: {{ .Values.gateway.service.ws.port }}
              protocol: TCP
          {{- if .Values.gateway.metrics.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.gateway.metrics.livenessProbe.httpGet.path }}
              port: {{ .Values.gateway.metrics.livenessProbe.httpGet.port | default "http" }}
            timeoutSeconds: {{ .Values.gateway.metrics.livenessProbe.timeoutSeconds }}
            {{- with .Values.gateway.metrics.livenessProbe.initalDelaySeconds }}
            initialDelaySeconds: {{ . }}
            {{- end }}
            {{- with .Values.gateway.metrics.livenessProbe.periodSeconds }}
            periodSeconds: {{ . }}
            {{- end }}
            {{- with .Values.gateway.metrics.livenessProbe.successThreshold }}
            successThreshold: {{ . }}
            {{- end }}
            {{- with .Values.gateway.metrics.livenessProbe.failureThreshold }}
            failureThreshold: {{ . }}
            {{- end }}
          {{- end }}
          {{- if .Values.gateway.metrics.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.gateway.metrics.readinessProbe.httpGet.path }}
              port: {{ .Values.gateway.metrics.readinessProbe.httpGet.port | default "http" }}
            timeoutSeconds: {{ .Values.gateway.metrics.readinessProbe.timeoutSeconds }}
            {{- with .Values.gateway.metrics.readinessProbe.initalDelaySeconds }}
            initialDelaySeconds: {{ . }}
            {{- end }}
            {{- with .Values.gateway.metrics.readinessProbe.periodSeconds }}
            periodSeconds: {{ . }}
            {{- end }}
            {{- with .Values.gateway.metrics.readinessProbe.successThreshold }}
            successThreshold: {{ . }}
            {{- end }}
            {{- with .Values.gateway.metrics.readinessProbe.failureThreshold }}
            failureThreshold: {{ . }}
            {{- end }}
          {{- end }}
          resources:
            {{- toYaml .Values.gateway.resources | nindent 12 }}
      {{- with .Values.gateway.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.gateway.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.gateway.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
